<!doctype html>
<title>Github Data</title>

<head>
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css"
    rel="stylesheet" type="text/css">

<script src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.js"></script>


</head>

<div class=page>
  <h1>size of github commits vs time</h1>
  <div class=metanav>

    {{ script|safe }}
    {{ div|safe }}

    <h1>from github</h1>
    <form id='anything' method='post' action='/next' >
      <p>
        <input type='submit' value='Next' />
      </p>
    </form>
  </div>

</div>
</html>
